<header class="header" [ngClass]="{ active: isVerticalScroll }">
  <div id="menu-btn" (click)="onMenuBtnClick()">
    <i class="fas fa-bars" *ngIf="!isMenuVisible"></i>
    <i class="fas fa-times" *ngIf="isMenuVisible"></i>
  </div>
  <a href="#" class="logo"><span>max</span>Wheels</a>

  <nav
    class="navbar-section"
    [ngClass]="{ active: isMenuVisible }"
    (click)="selectNavOptions()"
  >
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <a class="cursor-pointer" (click)="onClickAnchor('vehicles')">vehicles</a>
    <a class="cursor-pointer" (click)="onClickAnchor('services')">services</a>
    <a class="cursor-pointer" (click)="onClickAnchor('featured')">featured</a>
    <a class="cursor-pointer" (click)="onClickAnchor('reviews')">reviews</a>
    <a class="cursor-pointer" (click)="onClickAnchor('contact')">contact</a>
    <a
      class="cursor-pointer"
      routerLink="/pages/queries"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      query
    </a>
  </nav>

  @if (!getUserName) {
  <div id="login-btn" (click)="onLoginBtnClick()">
    <button class="btn">Login</button>
    <span id="login-icon">
      <i class="far fa-user" *ngIf="!isLoginVisible"></i>
      <i class="fas fa-times" *ngIf="isLoginVisible"></i>
    </span>
  </div>
  } @else {
  <label class="loggedin-user" for="loggedin-user">
    <i id="loggedin-user" class="fas fa-user"></i>
    {{ getUserName.toUpperCase() }}
  </label>
  }
</header>
