<header class="header navbar-dark" [ngClass]="{ active: isVerticalScroll }">
  <div class="header-menu">
    <div id="menu-btn" (click)="onMenuBtnClick()">
      <i class="fas fa-bars" *ngIf="!isMenuVisible"></i>
      <i class="fas fa-times" *ngIf="isMenuVisible"></i>
    </div>
    <a href="#" class="logo">
      <div class="icon">
        <img [src]="logo" alt="MoveStone" />
      </div>
    </a>

    <nav
      class="navbar-section"
      [ngClass]="{ active: isMenuVisible }"
      (click)="selectNavOptions()"
    >
      <a
        class="cursor-pointer"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        routerLink="/"
      >
        home
      </a>
      <a
        class="cursor-pointer"
        routerLink="/pages/products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        products
      </a>
      <a class="cursor-pointer" (click)="onClickAnchor('vehicles-content')">
        services
      </a>
      <a class="cursor-pointer" (click)="onClickAnchor('newsletter')">
        reviews
      </a>
      <a
        class="cursor-pointer"
        routerLink="/pages/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        contact
      </a>
      <a
        class="cursor-pointer last-child"
        routerLink="/pages/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        about
      </a>
      @if (!isUserLoggedIn && !getUserName) {
      <a id="nav-login-btn" class="nav-login-btn" (click)="onLoginBtnClick()">
        <button type="button" class="btn">Login</button>
      </a>
      }
    </nav>

    @if (!isUserLoggedIn && !getUserName) {
    <div id="login-btn" class="login-btn" (click)="onLoginBtnClick()">
      <button type="button" class="btn">Login</button>
      <span id="login-icon">
        <i class="far fa-user"></i>
      </span>
    </div>
    } @else {
    <label class="loggedin-user" for="loggedin-user" [cdkMenuTriggerFor]="menu">
      <i id="loggedin-user" class="fas fa-user"></i>
    </label>
    <ng-template #menu>
      <div class="loggedin-menu" cdkMenu>
        <div class="loggedin-menu-item menu-heading">
          {{ getUserName.toUpperCase() }}
        </div>
        <button
          type="button"
          class="loggedin-menu-item"
          cdkMenuItem
          (click)="logout()"
        >
          Logout
        </button>
        <button
          type="button"
          class="loggedin-menu-item"
          cdkMenuItem
          (click)="navigateToQuery()"
        >
          Check Queries
        </button>
      </div>
    </ng-template>

    }
  </div>
</header>
