<header
  class="header navbar-dark"
  [ngClass]="{ 'header-active': isVerticalScroll }"
>
  <div class="header-menu">
    <div id="menu-btn" (click)="onMenuBtnClick()">
      <i class="fas fa-bars" *ngIf="!isMenuVisible"></i>
      <i class="fas fa-times" *ngIf="isMenuVisible"></i>
    </div>
    <a href="#">
      <div class="icon">
        <img [src]="logo" alt="MoveStone" />
      </div>
    </a>

    <nav class="navbar-section" [ngClass]="{ active: isMenuVisible }">
      <a
        class="cursor-pointer"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        routerLink="/"
        (click)="selectNavOptions($event)"
      >
        home
      </a>
      <a
        class="cursor-pointer"
        routerLink="/pages/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="selectNavOptions($event)"
      >
        about
      </a>
      <div
        class="cursor-pointer product"
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        (click)="menuTrigger.openMenu()"
      >
        products
      </div>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()" class="cursor-pointer">
          @for (eachProductItem of itemsToDisplayInProducts; track $index) {
          <a
            mat-menu-item
            [routerLink]="eachProductItem.routerLink"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            (click)="selectNavOptions($event)"
          >
            {{ eachProductItem.name }}
          </a>
          }
        </span>
      </mat-menu>
      <a
        class="cursor-pointer"
        (click)="onClickAnchor('vehicles-content', $event)"
      >
        services
      </a>
      <a class="cursor-pointer" (click)="onClickAnchor('newsletter', $event)">
        reviews
      </a>
      <a
        class="cursor-pointer"
        routerLink="/pages/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="selectNavOptions($event)"
      >
        contact us
      </a>
      @if (!isUserLoggedIn && !getUserName) {
      <a id="nav-login-btn" class="nav-login-btn" (click)="onLoginBtnClick()">
        <img src="{{ assetPath }}/Homepage/login.png" alt="" />
      </a>
      }
    </nav>

    @if (!isUserLoggedIn && !getUserName) {
    <div id="login-btn" class="login-btn" (click)="onLoginBtnClick()">
      <img src="{{ assetPath }}/Homepage/login.png" alt="" />
      <span id="login-icon" class="login-icon">
        <i class="far fa-user"></i>
      </span>
    </div>
    } @else {
    <label class="loggedin-user" for="loggedin-user" [cdkMenuTriggerFor]="menu">
      <i id="loggedin-user" class="fas fa-user"></i>
    </label>
    <ng-template #menu>
      <div class="loggedin-menu" cdkMenu>
        <div class="loggedin-menu-item menu-heading">
          {{ getUserName.toUpperCase() }}
        </div>
        <button
          type="button"
          class="loggedin-menu-item"
          cdkMenuItem
          (click)="logout()"
        >
          Logout
        </button>
        <button
          type="button"
          class="loggedin-menu-item"
          cdkMenuItem
          (click)="navigateToQuery()"
        >
          Check Queries
        </button>
      </div>
    </ng-template>

    }
  </div>
</header>
