@if (product && images && images.length > 0 && selectedImage) {
<section id="product-page">
  @defer (on viewport) {
  <div class="product-view">
    <div class="product-image">
      <img [src]="selectedImage" alt="Image" />
      <div class="color-options">
        <span class="color-dot red"></span>
        <span class="color-dot blue"></span>
        <span class="color-dot green"></span>
        <span class="color-dot black"></span>
      </div>
      <div class="small-img-row">
        @for (eachImage of images; track eachImage) {
        <div class="small-img-col">
          <img
            [src]="eachImage.productImageURL"
            alt="Image-{{ eachImage.id }}"
            (click)="changeSelectedImage(eachImage.productImageURL)"
          />
        </div>
        }
      </div>
    </div>
    <h1 class="product-name">{{ product.productName }}</h1>
    <h3>SPECIFICATION</h3>

    <div id="product-feature" class="product-feature">
      <div class="features-table">
        <div class="feature-header">
          <div class="left-part feature-header-item">Item</div>
          <div class="right-part feature-header-item">
            {{ product.productName }}
          </div>
        </div>
        <div
          class="feature-body"
          *ngFor="let eachProductFeature of getProductFeatures"
        >
          <div class="left-part feature-header-item">
            {{ productFeatures[eachProductFeature] }}
          </div>
          <div class="right-part feature-body-item">
            {{ product[eachProductFeature] }}
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="small-container">
      <div class="row">
        <div class="col-6">
          <a class="view-more" (click)="showAllImages()">View All</a>
        </div>
      </div>
      <div class="col-6">
        <p>Product / Vehicle</p>
        <h1>{{ product.productName }}</h1>

        <div class="color-section">
          <h4>Colour: {{ selectedColor }}</h4>
          <div class="colors">
            @for (eachColor of colors; track eachColor) {
            <div
              class="color"
              [ngStyle]="{ background: eachColor[1] }"
              (mouseover)="changeSelectedColor(eachColor[0])"
            ></div>
            }
          </div>
        </div>
        <button type="button" (click)="onQueryRaise('contact')" class="btn">
          Raise Query
        </button>

        <h3>Product Details</h3>
        <p>
          Presenting Electric Rickshaws that are known for their latest advanced
          features, reliability and mileage.
        </p>
      </div>
    </div> -->
  </div>
  } @placeholder {
  <div>product View Section</div>
  }@defer (on viewport) {
  <div class="product-footer-banner">
    <img src="{{ assetPath }}/product_page_bg2.jpg" alt="" />
    <div class="product-footer-banner-text">
      <div>Have any question</div>
      <div>about us?</div>
      <div class="button-container">
        <a href="tel:7605083988" class="phone-button">
          <img
            src="{{ assetPath }}/product_page_contact.jpg"
            class="icon"
            alt=""
          />
          7605083988
        </a>
        <a href="#" class="contact-button"> Contact Us </a>
      </div>
    </div>
  </div>
  } @placeholder {
  <div>Product Banner Section</div>
  }
</section>
}

<div id="home-footer" class="footer">
  <nav class="footer-section">
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      about
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      products
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('vehicles-content')">
      services
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('newsletter')">
      reviews
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      contact us
    </a>
  </nav>
  <div class="footer-link">WWW.MOVESTONE.COM</div>
</div>
