@defer (on viewport) {
<div id="contact-section" class="contact-section">
  <div class="contact">
    <form [formGroup]="queryForm" class="contact-form">
      <div class="heading">Need a special deal?</div>
      <div class="heading">Contact us</div>
      <!-- <label class="custom-field two">
          <input type="url" placeholder="&nbsp;" />
          <span class="placeholder">Enter URL</span>
        </label> -->
      <mat-form-field class="mat-input">
        <input
          matInput
          formControlName="queryName"
          type="text"
          placeholder="Name"
          name="name"
          id="name"
          class="mat-input"
          required
        />
        <mat-error *ngIf="queryForm.get('queryName')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="queryEmail"
          type="email"
          placeholder="Enter your email"
          name="email"
          id="email-contact"
          required
        />
        <mat-error *ngIf="queryForm.get('queryEmail')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Number</mat-label>
        <input
          matInput
          formControlName="queryPhone"
          type="number"
          placeholder="Enter phone number"
          name="number"
          id="number"
          required
        />
        <mat-error *ngIf="queryForm.get('queryPhone')?.hasError('required')">
          Number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-input">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          formControlName="queryMessage"
          placeholder="Type your message"
          name="message"
          id="message"
          required
        >
        </textarea>
        <mat-error *ngIf="queryForm.get('queryMessage')?.hasError('required')">
          Message is required
        </mat-error>
      </mat-form-field>

      <button (click)="sendQuery()" type="button" class="btn">
        Send Query
      </button>
    </form>
  </div>
  <div class="contact-view">
    <div class="map-section">
      <div class="map">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.115630953414!2d88.4353635!3d22.574778199999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275e458febddf%3A0xa5fb7aaab4e3f4b2!2sImagine%20Tech%20Park%20-%20Genpact%20Kolkata%20Salt%20Lake%20Sector%20V!5e0!3m2!1sen!2sin!4v1709834636890!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="about-section">
      <div class="mb-5">
        <div class="heading">
          <img id="office-location" src="{{ assetPath }}/location.png" alt="" />
          <h1>Office Location</h1>
        </div>
        <p>
          Unit No- 01, 16th Floor, IMAGINE TECH PARK, Plot No – 6, Block- DP,
          Sector-V, Salt Lake, Kolkata- 700091
        </p>
      </div>
      <div class="mb-5">
        <div class="heading">
          <img id="office-location" src="{{ assetPath }}/location.png" alt="" />
          <h1>Factory Location</h1>
        </div>
        <p>
          Unit No- 01, 16th Floor, IMAGINE TECH PARK, Plot No – 6, Block- DP,
          Sector-V, Salt Lake, Kolkata- 700091
        </p>
      </div>
      <div class="first-contact">
        <div class="contact-number">
          <h2>Sales department</h2>
          <a href="tel:7605083988">
            <span class="contact-initials">
              (M):
              <img src="{{ assetPath }}/call.png" alt="" />
            </span>
            7605083988
          </a>
        </div>
        <div class="contact-number">
          <h2>Service department</h2>
          <a href="tel:9007350740">
            <span class="contact-initials">
              (M):
              <img src="{{ assetPath }}/call.png" alt="" />
            </span>
            9007350740
          </a>
        </div>
      </div>
      <div class="second-contact">
        <div class="contact-number">
          <h2>Purchase department</h2>
          <a href="tel:7605083985">
            <span class="contact-initials">
              (M):
              <img src="{{ assetPath }}/call.png" alt="" />
            </span>
            7605083985
          </a>
        </div>
        <div class="contact-number">
          <h2>Complaint department</h2>
          <a href="tel:9804267746"
            ><span class="contact-initials">
              (M):
              <img src="{{ assetPath }}/call.png" alt="" />
            </span>
            9804267746
          </a>
        </div>
      </div>

      <div class="social-link">
        <h2>Follow us on :</h2>
        <a [href]="facebookID">
          <img src="{{ assetPath }}/fb.png" alt="" />
        </a>
        <a href="">
          <img src="{{ assetPath }}/twitter.png" alt="" />
        </a>
        <a [href]="instagramID">
          <img src="{{ assetPath }}/intra.png" alt="" />
        </a>
        <a href="">
          <img src="{{ assetPath }}/linkdin.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
} @placeholder {
<div>Contact Section</div>
} @defer (on viewport) {
<section id="contact-newsletter" class="contact-newsletter">
  <h1>subscribe for latest updates</h1>

  <p>
    Help us reach you with the latest updates on our amazing products by
    providing us with your email.
  </p>
  <form>
    <input
      type="email"
      name="email"
      id="contact-email"
      placeholder="enter your email"
    />
    <button type="button">Submit</button>
  </form>
</section>
} @placeholder {
<div>Newsletter Section</div>
}
