<section id="control-panel" class="control-panel">
  <div class="buttons-container">
    <div class="back-arrow">
      <a routerLink="/pages/queries" aria-label="Back" class="btn">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </div>
    <table class="table" id="excel-table">
      <thead>
        <tr>
          <th>Serial No</th> <!-- Added Serial No header -->
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of contents; let i = index">
          <td>{{ i + 1 }}</td> <!-- Serial No starts from 1 -->
          <td>{{ product.productID }}</td>
          <td>{{ product.productName }}</td>
          <td>
            <button 
            mat-raised-button 
            [color]="product.visible === 'Y' ? 'warn' : 'primary'"
            (click)="toggleVisibility(product)">
            {{ product.visible === 'Y' ? 'Hide' : 'Show' }}
          </button>
            <button mat-raised-button color="primary" (click)="editProduct(product)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
