/* control-panel.component.css */
.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .buttons-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .back-arrow .btn {
    margin-left: 20px;
  }
  
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    max-width: 800px; /* Adjust this value as needed */
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  button {
    margin-right: 10px;
  }
  