@defer (on viewport) {
<section *ngIf="contents.length > 0" id="products" class="products">
  <div class="products-part">
    @for (content of getContents; track content) {
    <app-product-card
      [content]="content"
      (checkProductEvent)="checkProduct($event)"
    ></app-product-card>
    }
  </div>
  <app-magnify></app-magnify>

  <div class="pagination">
    <div *ngFor="let item of [].constructor(getNumberOfPages); let i = index">
      <a (click)="setIndex(i)" [ngClass]="{ active: currentPage === i }">
        {{ i + 1 }}
      </a>
    </div>
    <div class="forward" (click)="nextPage()">>></div>
  </div>

  <div class="product-footer-banner">
    <img src="{{ assetPath }}/product_page_bg2.jpg" alt="" />
    <div class="product-footer-banner-text">
      <div>Have any question</div>
      <div>about us?</div>
      <div class="button-container">
        <a href="tel:7605083988" class="phone-button">
          <img
            src="{{ assetPath }}/product_page_contact.jpg"
            class="icon"
            alt=""
          />
          7605083988
        </a>
        <a href="#" class="contact-button"> Contact Us </a>
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div>Featured Section</div>
}
<div id="home-footer" class="footer">
  <nav class="footer-section">
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      about
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      products
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('vehicles-content')">
      services
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('newsletter')">
      reviews
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      contact us
    </a>
  </nav>
  <div class="footer-link">WWW.MOVESTONE.COM</div>
</div>
