<app-header></app-header>

@defer (on viewport) {
<section *ngIf="contents.length > 0" id="products" class="products">
  @for (content of contents; track content) {
  <div class="product-card">
    <img [src]="content.imageURL" [alt]="content.productName" />
    <div class="product-info">
      <h2>{{ content.productName }}</h2>
      <p>
        new @for(eachFeature of content?.features?.split(','); track $index) {
        {{ eachFeature }}
        @if ($index < content?.features.length) {
        <span>&#187;</span>
        } }
      </p>
      <div class="d-flex align-items-center justify-content-between">
        <button class="details-button" (click)="checkProduct($index)">
          Details
        </button>
        <div class="color-options">
          <span class="color-dot red"></span>
          <span class="color-dot blue"></span>
          <span class="color-dot green"></span>
          <span class="color-dot black"></span>
        </div>
      </div>
    </div>
  </div>
  }
  <div class="pagination">
    <div *ngFor="let item of [].constructor(getNumberOfPages); let i = index">
      <a href="#">{{ i + 1 }}</a>
    </div>
    <a href="#" class="forward">>></a>
  </div>
</section>
} @placeholder {
<div>Featured Section</div>
}
