<section id="footer" class="footer">
  <div class="box-container">
    <!-- <div class="box">
      <h3>Our Offices</h3>
      <a href="#"><i class="fas fa-location-dot"></i> </a>
      <a href="#"><i class="fas fa-location-dot"></i> France</a>
      <a href="#"><i class="fas fa-location-dot"></i> Africa</a>
      <a href="#"><i class="fas fa-location-dot"></i> Australia</a>
      <a href="#"><i class="fas fa-location-dot"></i> Russia</a>
    </div> -->
    <div class="box">
      <h3>Quick Links</h3>
      <a href="#"><i class="fas fa-arrow-right"></i> Home</a>
      <a href="#vehicles"><i class="fas fa-arrow-right"></i> Vehicles</a>
      <a href="#services"><i class="fas fa-arrow-right"></i> Services</a>
      <a href="#featured"><i class="fas fa-arrow-right"></i> Featured</a>
      <a href="#reviews"><i class="fas fa-arrow-right"></i> Reviews</a>
      <a href="#contact"><i class="fas fa-arrow-right"></i> Contact</a>
    </div>
    <div class="box">
      <h3>Contacts</h3>
      <a href="#"><i class="fas fa-phone"></i> 9831317367</a>
      <a href="#"><i class="fas fa-phone"></i> 7595823939</a>
      <a href="#"><i class="fas fa-envelope"></i> soumyajit&#64;gmail.com</a>
      <a href="#">
        <i class="fas fa-location-dot"></i> HOWRAH, WEST BENGAL, 711103
      </a>
    </div>
    <div class="box">
      <h3>Social Links</h3>
      <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
      <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
      <a href="#"><i class="fab fa-pinterest"></i> Pinterest</a>
    </div>

    <div class="box">
      <h3>Head Office</h3>
      <a href="#">
        <i class="fas fa-location-dot"></i>
        Ground Floor, 24/1,Shop No. - 6, Shantikunj, Onkarmal Jatia Road,
        Howrah, West Bengal, 711103
      </a>
      <h3>Factory</h3>
      <a href="#">
        <i class="fas fa-location-dot"></i>
        Unit No. - UTA0045,0044,0036,0035, Utsab Park, Bhagabatipur, Chatur
        Bhujkhati, Sankrail, Howrah, West Bengal, 711313
      </a>
    </div>
  </div>
</section>
