@defer (on viewport) {
<section id="query-list-view" class="query-list-view">
  <div class="download-btn">
    <button (click)="downloadExcel()" class="btn" type="button">
      Download List
    </button>
  </div>

  <div class="mat-elevation-z8">
    <mat-tab-group (selectedTabChange)="changeTableData($event)">
      <mat-tab
        [label]="eachTab.name"
        [id]="eachTab.month"
        *ngFor="let eachTab of tabs"
      >
        <app-query-list
          [selectedTab]="selectedTab"
          [ELEMENT_DATA]="filteredElementData"
        ></app-query-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
} @placeholder {
<div>product View Section</div>
}

<ng-container *ngIf="emailList?.length > 0">
  <table id="excel-table">
    <tr>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of emailList">
      <td>{{ item }}</td>
    </tr>
  </table>
</ng-container>

<section class="product-footer-banner">
  <img src="{{ productAssetPath }}/product_page_bg2.jpg" alt="" />
  <div class="product-footer-banner-text">
    <div>Have any question</div>
    <div>about us?</div>
    <div class="button-container">
      <a href="tel:7605083988" class="phone-button">
        <img
          src="{{ productAssetPath }}/product_page_contact.jpg"
          class="icon"
          alt=""
        />
        7605083988
      </a>
      <a href="#" class="contact-button"> Contact Us </a>
    </div>
  </div>
</section>

<div id="home-footer" class="footer">
  <nav class="footer-section">
    <a
      class="cursor-pointer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      routerLink="/"
    >
      home
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      about
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      products
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('vehicles-content')">
      services
    </a>
    <div class="vertical"></div>
    <a class="cursor-pointer" (click)="onClickAnchor('newsletter')">
      reviews
    </a>
    <div class="vertical"></div>
    <a
      class="cursor-pointer"
      routerLink="/pages/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      contact us
    </a>
  </nav>
  <div class="footer-link">www.movestone.com</div>
</div>
