<!-- @defer (on viewport) {
<section id="home" class="home">
  <h1 class="home-parallax" data-speed="-2">Explore Opportunities</h1>
  <img
    id="banner"
    class="home-parallax"
    data-speed="5"
    src="../../../../assets/images/Banner.png"
    alt=""
  />
  <a
    id="explore-product-button"
    class="btn home-parallax"
    data-speed="7"
    routerLink="/pages/products"
    >Explore Products</a
  >
</section>
} @placeholder {
<div>Home Section</div>
} -->
@defer (on viewport) {

<section class="about-us" id="about-us">
  <h1 class="heading">
    <div class="underline"></div>
    <span>About </span> us
  </h1>
  <div class="d-flex gap-5">
    <div>
      <div class="about-us-image">
        <img src="{{ assetPath }}images/SEN_9314.webp" alt="" />
      </div>
    </div>
    <div>
      <div class="about-us-text d-grid gap-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eum ullam
        voluptatum ab delectus ipsa. Corporis, error fuga. Vitae, obcaecati
        dignissimos! Cupiditate eos aliquid ad in consequatur atque fuga, ex
        saepe animi, odio laboriosam quisquam sequi ipsum, ut nesciunt. Dolorum
        architecto ducimus at. Quae quo explicabo odit ut, maxime expedita
        suscipit nobis blanditiis aperiam magni id tempore, dignissimos
        distinctio enim officiis, voluptatibus voluptas! Ullam expedita dolore
        eveniet accusamus. Accusantium modi, cumque ipsum aperiam unde dicta
        commodi fuga facilis deserunt officiis aspernatur voluptas beatae
        consectetur ipsa eaque non quidem nisi eius exercitationem at vero
        voluptatibus tenetur laboriosam dignissimos. Vel, doloribus debitis!

        <div class="d-grid gap-2">
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            harum.
          </div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            harum.
          </div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            harum.
          </div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            harum.
          </div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            harum.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="about-us-background"></div>

} @placeholder {
<div id="abount-us-section">About Us</div>
} @defer (on viewport) {
<section *ngIf="contents.length > 0" class="vehicles" id="vehicles">
  <div class="d-flex justify-content-between">
    <h2 class="heading text-white text-uppercase">popular vehicles</h2>

    <div class="hex-container">
      <div class="hexagon">
        <div class="arrow left"></div>
      </div>
      <div class="hexagon">
        <div class="arrow right"></div>
      </div>
    </div>
  </div>

  <swiper-container
    fmSwiper
    [config]="contents.length > 8 ? vehicleConfig : staticConfig"
    init="false"
    class="vehicles-slider"
  >
    @for (eachProduct of contents; track eachProduct) {
    <swiper-slide class="box">
      <div id="vehicles-content" class="content">
        <div class="content-text">
          <h3>{{ eachProduct.productName }}</h3>
          <p>
            new @for(eachFeature of eachProduct?.features?.split(',');track
            eachFeature){
            <span class="fas fa-circle"></span> {{ eachFeature }}
            }
          </p>
        </div>
        <button
          type="button"
          class="feature-btn btn"
          (click)="checkProduct(eachProduct.productID)"
        >
          Check Out
        </button>
      </div>
      <img [src]="eachProduct?.imageURL" alt="image" loading="lazy" />
    </swiper-slide>
    }
  </swiper-container>
</section>
} @placeholder {
<div id="vehicles-section">Vehicles Section</div>
} @defer (on viewport) {
<section id="services" class="services">
  <!-- <h1 id="services-heading" class="heading">our <span>services</span></h1> -->
  <h1 class="heading" id="services-heading">
    <div class="underline"></div>
    Our <span> services</span>
  </h1>
  <div class="content">
    <div class="image-container">
      <img src="{{ assetPath }}images/SEN_9314.webp" alt="Rickshaw" />
    </div>
    <div class="services-list">
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/rickshaw-sales.png" alt="Electric Rickshaw Sales" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>Electric Rickshaw Sales</h3>
          <p>
            Visit Newest Movestone Outlet To See Latest In Technology And You
            Can Put Enquiry Here, Our Sales Person will Call You.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/spare-parts.png" alt="Spare Parts Sales" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>Spare Parts Sales</h3>
          <p>
            We Sale Only Genuine And Branded Products With Highly-End Warranty.
            Check Our Products Catalogue Or Visit Offline.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/insurance.png" alt="Full Insurance" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>Full Insurance</h3>
          <p>
            Our Insurance Company Covers Our Users Any Detailed Estimated Loss
            Or Damage In Case User's Have Accidents.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/battery.png" alt="Battery Replacement" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>Battery Replacement</h3>
          <p>
            Replace Your Old Battery With Original OEM Batteries Of Your Choice
            And Sell Old Batteries At One Place.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/dealer.png" alt="Become A Dealer" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>Become A Dealer</h3>
          <p>
            We Would Like You To Be A Part Of Our Future Forward Journey. Please
            Contact Our Office Or Fill Form On This Link To Apply For Nonotronic
            India Dealership.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="icon">
          <!-- <img src="icons/support.png" alt="24/7 Support" /> -->
          <i class="fas fa-car"></i>
        </div>
        <div class="details">
          <h3>24/7 Support</h3>
          <p>
            Regardless Of Whether You Have To Get A Tyre Changed, Need An Expert
            Look Into Your Electric Vehicles Mechanism, You Can Reach Out To Us
            At Any Time And Avail Yourself Of The Best Assistance For Electric
            Situations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div>Services Section</div>
} @defer (on viewport) {
<section class="our-team">
  <h1>Our Team</h1>
  <div class="team-members">
    <div class="team-member">
      <h3>Courtney Henry</h3>
      <p>Development Manager</p>
      <img src="{{ assetPath }}images/person.png" alt="Courtney Henry" />
    </div>
    <div class="team-member">
      <h3>Jerome Bell</h3>
      <p>Software Developer</p>
      <img src="{{ assetPath }}images/person.png" alt="Jerome Bell" />
    </div>
    <div class="team-member">
      <h3>Jerome Bell</h3>
      <p>Software Tester</p>
      <img src="{{ assetPath }}images/person.png" alt="Jerome Bell" />
    </div>
    <div class="team-member">
      <h3>Arlene McCoy</h3>
      <p>Software Developer</p>
      <img src="{{ assetPath }}images/person.png" alt="Arlene McCoy" />
    </div>
    <div class="team-member">
      <h3>Jenny Wilson</h3>
      <p>UI/UX Designer</p>
      <img src="{{ assetPath }}images/person.png" alt="Jenny Wilson" />
    </div>
  </div>
</section>
} @placeholder {
<div>Team Section</div>
} @defer (on viewport) {
<section *ngIf="testimonials.length > 0" id="reviews" class="testimonial">
  <div class="testimonial-content">
    <div class="testimonial-text">
      <h4>Our Testimonial</h4>
      <div class="underscore"></div>
      <h2>What Client’s Says</h2>
      <p>
        The other hand we denounce with righteous indignation and dislike men
        who are so beguiled and demoralized by the charms of pleasure moment.
        Dislike men who are so beguiled and demoralized by the charms of
        pleasure.
      </p>
      <div class="client-info">
        <img src="{{ assetPath }}images/person.png" alt="Teodoro D. Williams" />
        <div>
          <h3>Teodoro D. Williams</h3>
          <p>Web Developer</p>
        </div>
        <div class="navigation">
          <button>&lt;</button>
          <button>&gt;</button>
        </div>
      </div>
    </div>
    <div class="testimonial-image">
      <div class="image-container">
        <img src="{{ assetPath }}images/person.png" alt="Client Image" />
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div>Reviews Section</div>
} @defer (on viewport) {
<section id="contact-section" class="contact-section">
  <h1 class="heading"><span>contact </span> us</h1>

  <div class="contact">
    <form [formGroup]="queryForm">
      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="queryName"
          type="text"
          placeholder="Enter your name"
          name="name"
          id="name"
          required
        />
        <mat-error *ngIf="queryForm.get('queryName')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="queryEmail"
          type="email"
          placeholder="Enter your email"
          name="email"
          id="email-contact"
          required
        />
        <mat-error *ngIf="queryForm.get('queryEmail')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Number</mat-label>
        <input
          matInput
          formControlName="queryPhone"
          type="number"
          placeholder="Enter phone number"
          name="number"
          id="number"
          required
        />
        <mat-error *ngIf="queryForm.get('queryPhone')?.hasError('required')">
          Number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          formControlName="queryMessage"
          placeholder="Type your message"
          name="message"
          id="message"
          required
        >
        </textarea>
        <mat-error *ngIf="queryForm.get('queryMessage')?.hasError('required')">
          Message is required
        </mat-error>
      </mat-form-field>

      <button (click)="sendQuery()" type="button" class="btn">
        Send Query
      </button>
    </form>
  </div>
  <div class="contact-view">
    <div class="about-section">
      <h2>Contact Info</h2>

      <table class="about-table">
        <tr>
          <th>Office Location</th>
          <th>Factory Location</th>
        </tr>
        <tr>
          <td>
            Unit No- 01, 16th Floor, IMAGINE TECH PARK, Plot No – 6, Block- DP,
            Sector-V, Salt Lake, Kolkata- 700091
          </td>
          <td>
            Unit No. - UTA0045,0044,0036,0035, Utsab Park, Bhagabatipur, Chatur
            Bhujkhati, Sankrail, Howrah, West Bengal, 711313
          </td>
        </tr>
        <tr>
          <th>Sales department</th>
          <th>Service department</th>
        </tr>
        <tr>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:7605083988">7605083988</a>
          </td>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:9007350740">9007350740</a>
          </td>
        </tr>
        <tr>
          <th>Purchase department</th>
          <th>Complaint</th>
        </tr>
        <tr>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:7605083985">7605083985</a>
          </td>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:9804267746">9804267746</a>
          </td>
        </tr>
      </table>

      <div class="social-link">
        <a [href]="facebookID">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a [href]="instagramID">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="map-section">
      <div class="map">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.115630953414!2d88.4353635!3d22.574778199999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275e458febddf%3A0xa5fb7aaab4e3f4b2!2sImagine%20Tech%20Park%20-%20Genpact%20Kolkata%20Salt%20Lake%20Sector%20V!5e0!3m2!1sen!2sin!4v1709834636890!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div>Contact Section</div>
}
