@defer (on viewport) {
<section id="home" class="home">
  <h1 class="home-parallax" data-speed="-2">Explore Opportunities</h1>
  <img
    id="banner"
    class="home-parallax"
    data-speed="5"
    src="../../../../assets/images/Banner.png"
    alt=""
  />
  <a
    id="explore-product-button"
    class="btn home-parallax"
    data-speed="7"
    routerLink="/pages/products"
    >Explore Products</a
  >
</section>
} @placeholder {
<div>Home Section</div>
} @defer (on viewport) {
<section *ngIf="contents.length > 0" class="vehicles" id="vehicles">
  <h1 class="heading">popular <span>vehicles</span></h1>

  <swiper-container
    fmSwiper
    [config]="contents.length > 8 ? vehicleConfig : staticConfig"
    init="false"
    class="vehicles-slider"
  >
    @for (eachProduct of contents; track eachProduct) {
    <swiper-slide class="box">
      <img [src]="eachProduct?.imageURL" alt="image" loading="lazy" />
      <div id="vehicles-content" class="content">
        <h3>{{ eachProduct.productName }}</h3>
        <p>
          new @for(eachFeature of eachProduct?.features?.split(',');track
          eachFeature){
          <span class="fas fa-circle"></span> {{ eachFeature }}
          }
        </p>
        <button
          type="button"
          class="btn"
          (click)="checkProduct(eachProduct.productID)"
        >
          Check Out
        </button>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</section>
} @placeholder {
<div id="vehicles-section">Vehicles Section</div>
} @defer (on viewport) {
<section id="services" class="services">
  <h1 id="services-heading" class="heading">our <span>services</span></h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-car"></i>
      <h3>Electric Rickshaw Sales</h3>
      <p>
        Visit nearest movestone outlet to buy e-rickshaw in Kolkata. Also you
        can put enquiry here, our sales person will call you.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-tools"></i>
      <h3>Spare Parts Sales</h3>
      <p>
        We sale only genuine and branded products with high end warranty. Check
        our products catalogue or visit offline.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-car-crash"></i>
      <h3>Full Insurance</h3>
      <p>
        Our Partner Insurance Company covers EVs from any potential financial
        loss or damage in case of events like accidents.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-battery"></i>
      <h3>Battery Replacement</h3>
      <p>
        Replace your old battery with original OEM batteries of your choice and
        sell old batteries at one place.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-gas-pump"></i>
      <h3>Become a Dealer</h3>
      <p>
        We would like you to be a part of our future forward journey. Please
        contact our office or fill form on this link to apply for movestone
        India Dealerships
      </p>
    </div>
    <div class="box">
      <i class="fas fa-headset"></i>
      <h3>24/7 support</h3>
      <p>
        Regardless of whether you have to get a tyre changed, need an expert
        look into the electric vehicle’s motor/battery, etc. You can reach out
        to us at any time and avail yourself of the spot assistance for diverse
        situations.
      </p>
    </div>
  </div>
</section>
} @placeholder {
<div>Services Section</div>
} @defer (on viewport) {
<section id="newsletter" class="newsletter">
  <h1>subscribe for latest updates</h1>

  <p>
    Help us reach you with the latest updates on our amazing products by
    providing us with your email.
  </p>
  <form>
    <input
      type="email"
      name="email-input"
      id="email-input"
      placeholder="enter your email"
    />
    <button type="button">Submit</button>
  </form>
</section>
} @placeholder {
<div>Newsletter Section</div>
} @defer (on viewport) {
<section *ngIf="testimonials.length > 0" id="reviews" class="review">
  <h1 class="heading">client's <span>review</span></h1>

  <swiper-container
    fmSwiper
    [config]="reviewConfig"
    init="false"
    class="review-slider"
  >
    @for(eachTestimonial of testimonials; track eachTestimonial){
    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          {{ eachTestimonial.testimonial }}
        </p>
        <h3>{{ eachTestimonial.testimonialAuthor }}</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
    }

    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi
          quibusdam illum voluptatem odit laudantium. Facere culpa iure, dicta
          eaque iste incidunt? Assumenda iusto necessitatibus officia distinctio
          perferendis maiores doloribus.
        </p>
        <h3>John Deo</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi
          quibusdam illum voluptatem odit laudantium. Facere culpa iure, dicta
          eaque iste incidunt? Assumenda iusto necessitatibus officia distinctio
          perferendis maiores doloribus.
        </p>
        <h3>Shubhayu Dasgupta</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi
          quibusdam illum voluptatem odit laudantium. Facere culpa iure, dicta
          eaque iste incidunt? Assumenda iusto necessitatibus officia distinctio
          perferendis maiores doloribus.
        </p>
        <h3>John Deo</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi
          quibusdam illum voluptatem odit laudantium. Facere culpa iure, dicta
          eaque iste incidunt? Assumenda iusto necessitatibus officia distinctio
          perferendis maiores doloribus.
        </p>
        <h3>Rahim Khan</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="box">
      <i class="fas fa-user user-icon"></i>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nisi
          quibusdam illum voluptatem odit laudantium. Facere culpa iure, dicta
          eaque iste incidunt? Assumenda iusto necessitatibus officia distinctio
          perferendis maiores doloribus.
        </p>
        <h3>Soumyajit Sarkar</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
} @placeholder {
<div>Reviews Section</div>
} @defer (on viewport) {
<section id="contact-section" class="contact-section">
  <h1 class="heading"><span>contact </span> us</h1>

  <div class="contact">
    <form [formGroup]="queryForm">
      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="queryName"
          type="text"
          placeholder="Enter your name"
          name="name"
          id="name"
          required
        />
        <mat-error *ngIf="queryForm.get('queryName')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="queryEmail"
          type="email"
          placeholder="Enter your email"
          name="email"
          id="email-contact"
          required
        />
        <mat-error *ngIf="queryForm.get('queryEmail')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Number</mat-label>
        <input
          matInput
          formControlName="queryPhone"
          type="number"
          placeholder="Enter phone number"
          name="number"
          id="number"
          required
        />
        <mat-error *ngIf="queryForm.get('queryPhone')?.hasError('required')">
          Number is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-input">
        <mat-label>Message</mat-label>
        <textarea
          matInput
          formControlName="queryMessage"
          placeholder="Type your message"
          name="message"
          id="message"
          required
        >
        </textarea>
        <mat-error *ngIf="queryForm.get('queryMessage')?.hasError('required')">
          Message is required
        </mat-error>
      </mat-form-field>

      <button (click)="sendQuery()" type="button" class="btn">
        Send Query
      </button>
    </form>
  </div>
  <div class="contact-view">
    <div class="about-section">
      <h2>Contact Info</h2>

      <table class="about-table">
        <tr>
          <th>Office Location</th>
          <th>Factory Location</th>
        </tr>
        <tr>
          <td>
            Unit No- 01, 16th Floor, IMAGINE TECH PARK, Plot No – 6, Block- DP,
            Sector-V, Salt Lake, Kolkata- 700091
          </td>
          <td>
            Unit No. - UTA0045,0044,0036,0035, Utsab Park, Bhagabatipur, Chatur
            Bhujkhati, Sankrail, Howrah, West Bengal, 711313
          </td>
        </tr>
        <tr>
          <th>Sales department</th>
          <th>Service department</th>
        </tr>
        <tr>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:7605083988">7605083988</a>
          </td>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:9007350740">9007350740</a>
          </td>
        </tr>
        <tr>
          <th>Purchase department</th>
          <th>Complaint</th>
        </tr>
        <tr>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:7605083985">7605083985</a>
          </td>
          <td>
            <!-- <a href="email:abcd&#64;gmail.com"> abcd&#64;gmail.com </a> -->
            <a href="tel:9804267746">9804267746</a>
          </td>
        </tr>
      </table>

      <div class="social-link">
        <a [href]="facebookID">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
        <a [href]="instagramID">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="map-section">
      <div class="map">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.115630953414!2d88.4353635!3d22.574778199999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275e458febddf%3A0xa5fb7aaab4e3f4b2!2sImagine%20Tech%20Park%20-%20Genpact%20Kolkata%20Salt%20Lake%20Sector%20V!5e0!3m2!1sen!2sin!4v1709834636890!5m2!1sen!2sin"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
} @placeholder {
<div>Contact Section</div>
}
