<div class="product-card">
  <div class="image" (click)="magnifyCard()">
    <swiper-container
      fmSwiper
      [config]="productConfig"
      class="product-slider"
      init="false"
      (swiperslidechange)="onSlideChange($event)"
    >
      @for (eachProduct of productContents; track eachProduct) {
      <swiper-slide>
        <img
          [src]="eachProduct"
          alt="image"
          class="product-image"
          loading="lazy"
        />
      </swiper-slide>
      }
    </swiper-container>

    <!-- <img
      class="product-image"
      [src]="content?.imageURL"
      [alt]="content?.productName"
    /> -->
    <div class="icon">
      <img src="{{ assetPath }}/search.png" alt="" />
    </div>
  </div>
  <div class="product-info">
    <h2>{{ content?.productName }}</h2>
    <p>
      @for(eachFeature of content?.features?.split(','); track $index) {
      {{ eachFeature }}
      @if ($index < content?.features?.split(',').length - 1) {
      <img src="{{ assetPath }}/arrow.jpg" alt="" />
      } }
    </p>
    <div class="d-flex align-items-center justify-content-between">
      <button
        type="button"
        class="details-button"
        (click)="checkProduct(content?.productID)"
      >
        Details
      </button>
      <div class="color-options">
        <span class="color-dot red"></span>
        <span class="color-dot blue"></span>
        <span class="color-dot green"></span>
        <span class="color-dot black"></span>
      </div>
    </div>
  </div>
</div>
